    body
    {
        padding:0px;
        margin:0px;
        font-family:"DejaVu Sans", Helvetica, Arial, Sans;
        color:#222;
        font-size:16px;
    }
    
    html
    {
        background:#EDEDED;
    }

    nav, header, article, footer { display: block; }
    
    .wrap
    {
        background:#fff;
        padding:0px 0px;
    }
    
    .contentWrap
    {
        width:760px;
        margin:0px auto;
        padding:10px 20px;
        min-height:400px;
        position: relative;
        box-shadow:
            10px 0 10px -10px rgba(0,0,0,0.5),
            -10px 0 10px -10px rgba(0,0,0,0.5);
    }

    .hidden
    {
        display:none;
    }
    
    article.post, header.topic
    {
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
	    
        margin:5px 0px 5px 0px;
        border:1px solid #E8E9EB;
    }
    
    article.post:nth-child(2n)
    {
        border:1px solid #D8D9DB;
    }
    
    article.post nav, header.topic nav
    {
	    -moz-border-radius:5px 5px 0px 0px;
	    -webkit-border-radius:5px 5px 0px 0px;
	    border-radius:5px 5px 0px 0px;
	    -khtml-border-radius:5px 5px 0px 0px;
        padding:4px;
	    
        background:#E8E9EB;
    }
    
    header.topic nav
    {
        background:#D0C9DB;
    }
    
    header.topic
    {
        border:1px solid #D0C9DB;
    }
    
    article.post:nth-child(2n) nav
    {
        background:#D8D9DB;
    }
    
    div.sefl, div.parents, div.time
    {
        float:left;
        padding-right:5px;
    }
    
    div.user, div.controlls
    {
        float:right;
        padding-left:5px;
    }
    
    div.cb
    {
        clear:both;
    }
    
    .postContent
    {
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
	    
        padding:10px;
    }
    
    .showButton, .hideButton
    {
        padding-left:10px;
        font-size:12px;
    }
    
    a
    {
        color:#28699B;
    }
    
    a:hover
    {
        color:#D31141;
    }
    
    #form-createTopic td, #form-thread-create td
    {
        display:none;
    }
    
    #form-createTopic td:nth-child(2n), #form-thread-create td:nth-child(2n)
    {
        display:block;
    }
    
    textarea
    {
        width:664px;
        height:300px;
    }
    
    .alignleft   { float:left; margin:0px 5px;  }
    .alignright  { float:right; margin:0px 5px; }
    .aligncenter { margin:0px auto }
    .cb { clear:both; }
    
    nav.overall
    {
        background:#E8E9EB;
        border-bottom:1px solid #C8C9CB;
        padding:2px 5px 2px 5px;
    }
    
    nav.overall a
    {
        text-decoration:none;
    }
    
    footer.overall, header.overall
    {
        width:800px;
        margin:0px auto;
    }
    
    footer.overall
    {
        margin-top:20px;
    }
    
    .overallFooter
    {
        border-top:1px solid #C8C9CB;
        margin:0px;
        min-height:180px;
        background:url('/pic/fsm.png') no-repeat right top;
    }
    
    #form-createTopic .pony-text
    {
        width:660px;
    }
    
    h1, h2, h3, h4, h5, h6
    {
        font-weight:400;
        color:#60596B;
    }
    
    .paginator a, .paginator span
    {
        margin:5px;
        text-decoration:none;
    }
    
    table.list
    {
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
        color:#60596B;
        width:100%;
        border:1px solid #E8E9EB;
    }
    
    table.list tr
    {
        background: #F0F0F0;
    }
    
    table.list tr:first-child
    {
        background: #E8E9F4;
    }
    
    table.list tr:nth-child(2n)
    {
        background: #E8E9EB;
    }
    
    table.list td
    {
        padding:2px;
        margin:0px;
    }
    
    .userpic_small
    {
        width:20px;
        height:20px;
        float:left;
        margin:0px 2px 0px 2px;
    }
    
    /*** Messages ***/

    .done, .error, .info, .rounded
    {
        padding: 10px;
        padding-right: 15px;
        background:#F2F1F0;
        border: 1px solid #ddd;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
    }

    .done, .error, .info
    {
        text-align:center;
        margin: 0px;
        width:700px;
        margin:0px auto;
        font-size:12px;
    }

    .info
    {
        background: #ffd;
        border: 1px solid #fff7dd;
    }

    .error
    {
        background: #fee;
        border: 1px solid #fcc;
        margin: 0px auto;
        color:#d77;
    }

    .done
    {
        background: #efe;
        border: 1px solid #cfc;
    }

    .hidden
    {
        display:none;
    }
    
    .pony-form .error
    {
        background:none;
        padding:0px;
        margin:0px;
        color:#e88;
        text-align:center;
        width:280px;
        font-size:11px;
    }
    
    .pony-form ul.error
    {
        list-style:none;
        text-align:center;
        width:280px;
        font-size:11px;
    }
    
    .pony-form td:first-child
    {
        width:100px;
    }
    
    .required
    {
        color:#a00;
    }
    
    .pony-form input
    {
        float:right;
    }
    
    .legend
    {
        padding-bottom:10px;
    }
    
    .news nav
    {
        background:#eee;
        margin-top:10px;
        padding:5px;
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
    }
    
    article.news
    {
        padding:10px;
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
        background:#eee;
        margin:10px 0px;
    }
    
    .h3
    {
        font-size:20px;
    }
    
    .commentCount
    {
        background:url('/pic/dialog.png') center center no-repeat;
        height:28px;
        width:28px;
        text-align:center;
        position:relative;
        top:-2px;
        right:-2px
    }
    
    .commentCount .value
    {
        position:relative;
        top:2px;
        font-size:12px;
    }
    
    
    article.tree-post
    {   
	    -moz-border-radius:5px 0px 0px 0px;
	    -webkit-border-radius:5px 0px 0px 0px;
	    border-radius:5px 0px 0px 0px;
	    -khtml-border-radius:5px 0px 0px 0px;
	    
        margin: 10px 0px;
        border-left: 1px solid #f0f0f4;
    }
    
    article.tree-post:nth-child(2n)
    {
    }
    
    article.tree-post nav .user .userpic_small
    {
        float: right;
        position: relative;
        left:2px;
    }
    
    article.tree-post nav, header.tree-post nav
    {
	    -moz-border-radius:5px 0px 0px 0px;
	    -webkit-border-radius:5px 0px 0px 0px;
	    border-radius:5px 0px 0px 0px;
	    -khtml-border-radius:5px 0px 0px 0px;
	    
        padding:0px 0px 0px 4px;
	    font-size:14px;
        background:#f0f0f8;
    }
    
    article.tree-post:nth-child(2n) nav
    {
        /*background:#E8E9EB;*/
    }
    
    article.other>nav
    {
        background:#f0f0f8;
    }
    
    article.hot>nav
    {
        background:#f8f0f0;
    }
    
    article.me>nav
    {
        background:#f0f8f0;
    }
    
    .responses, .hot-responses
    {
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border-radius:5px;
	    -khtml-border-radius:5px;
	    padding:0px 4px;
	    margin:1px 10px 0px 0px;
        border-bottom:1px solid #C8C9CB;
        background:#d0d0d8;
        font-size:14px;
        font-weight:600;
    }
    
    .hot-responses
    {
        background:#d99;
        color:#844;
    }
    
    .tracker .userpic_small
    {
        float:right;
    }
    
    .tracker .post .count
    {
        padding:0px 4px 0px 4px;
        text-align:center;
    }
    
    input.red
    {
        color:#a00;
        font-weight:600;
    }
    
/*******************
 *   Vertical nav  *
 *******************/
    
    .verticalWrap
    {
        position:fixed;
        width:50%;
    }
    
    nav.vertical
    {
        position:relative;
        right:400px;
        padding-top:16px;
        float:right;
        text-align:left;
        width:135px;
    }
    
    nav.vertical div div
    {
        width:9999px;
    }
    
    nav.vertical div.item
    {
        border:1px solid #C8C9CB;
        border-right:0px;
        -moz-border-radius:     4px 0px 0px 4px;
        -webkit-border-radius:  4px 0px 0px 4px;
        border-radius:          4px 0px 0px 4px;
        -khtml-border-radius:   4px 0px 0px 4px;
        background:#F2F3F7;
        /*height:20px;*/
        font-size:12px;
        padding:5px;
        width:121px;
        overflow:hidden;
        margin:5px 0px 5px 0px;
        float:left;
        box-shadow: -4px 0 4px 0px rgba(0,0,0,0.2);
    }
    
    nav.vertical div.item a
    {
        text-decoration:none;
    }
    
    nav.vertical div.selected
    {
        background:#fff;
    }

    nav.vertical div.save
    {
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        -khtml-border-radius:10px;
        width:80px;
        text-align:center;
        padding:5px;
        background: #fee;
    }

    nav.vertical div.selected
    {
        position:relative;
        background:#fff;
        z-index:999;
    }
    
    nav.vertical div.red
    {
        background: #fee;
    }
    
    nav.vertical div.red a
    {
        color:#d77;
    }
    
    nav.vertical div.red:hover
    {
        background:#faa;
    }
    
    nav.vertical div.green
    {
        background: #efe;
    }
    
    nav.vertical div.green a
    {
        color:#7d7;
    }
    
    nav.vertical div.green:hover
    {
        background:#afa;
    }
        
    nav.vertical div.off
    {
        background: #eee;
    }
    
    nav.vertical div.off a
    {
        color:#777;
    }
    
    nav.vertical div.off:hover
    {
        background:#ddd;
    }
    
    nav.vertical .userpic_big
    {
        position:relative;
        left:15px;
    }
    
    acronym
    {
        border-bottom:dotted 1px #888;
    }
    
    /**
     *  Items
     */
    .items>a>img, .item>a>img
    {
        height:48px;
    }
    
    .popupItemWrap
    {
        position:fixed;
        top:0;
        left:0;
        z-index:100;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
    }
    
    .popupItem
    {
        width:400px;
        margin:50px auto;
        padding:1px 20px 20px 20px;
        
        -moz-border-radius:     10px;
        -webkit-border-radius:  10px;
        border-radius:          10px;
        -khtml-border-radius:   10px;
        
        background:#f0f0f8;
    }
